.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}
.pagination button.active {
    font-weight: 900;
    border-color: #101010;
    background: #ffe400;
    color: #101010;
}